<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MouseMasterVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MouseMasterVR.Properties.Settings>
            <setting name="FirstTimeUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPosTop" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WindowPosLeft" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MainPowerSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateModeDial" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GameTargetName" serializeAs="String">
                <value>Falcon BMS</value>
            </setting>
            <setting name="MouseUpRebind" serializeAs="String">
                <value>Press Any Key</value>
            </setting>
            <setting name="MouseDownRebind" serializeAs="String">
                <value>Press Any Key</value>
            </setting>
            <setting name="MouseLeftClickRebind" serializeAs="String">
                <value>Press Any Button</value>
            </setting>
            <setting name="MouseRightClickRebind" serializeAs="String">
                <value>Press Any Button</value>
            </setting>
            <setting name="MouseLeftRebindKey" serializeAs="String">
                <value>2323</value>
            </setting>
            <setting name="MouseRightRebindKey" serializeAs="String">
                <value>2323</value>
            </setting>
            <setting name="GettingLeftRebindKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GettingRightRebindKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoystickIsPolling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppUpdating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateFileTarget" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="UpdatePackagePath" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MouseDebounce" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppTitle" serializeAs="String">
                <value>MouseMaster</value>
            </setting>
            <setting name="AppChangelog" serializeAs="String">
                <value>https://veterans-gaming.com/semlerpdx/vglabs/apps/changelog_mousemastervr.html</value>
            </setting>
        </MouseMasterVR.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>